.oder ul{
    list-style: none;
}
.oder ul li{
    display: inline-block;
    padding:  0 15px;
}
.oder ul li p{
    font-size: 25px;
    
}
.oder ul li a{
    font-size: 25px;
    text-decoration: none;
    color: red;
    
}
